<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1{
            text-align: center;
            color: red;
            border-bottom: azure 10px solid;
        }
        body{
            background-color: aqua;
        }
        h2{
            color: darkgreen;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>This is for Testing Purpose</h1>
<h2>This is developed by {{ name }} and on {{ datetime1 }}</h2>

</body>
</html>